<launch>
    <arg name="port" default="7070"/>
    <node name="sr_teleop_polhemus_documentation_server" pkg="sr_teleop_polhemus_documentation" type="sr_teleop_polhemus_documentation_server.py" args="" respawn="false" output="screen">
        <param name='port' value="$(arg port)" />
    </node>
</launch>
